<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <H1>Hello, <%= name %></H1>
    
    <p><%=doc.length%></p>

    <a href="/create">Create new inventory</a>
    <a href="/logout">Log out</a>
    <input type="text" id="myInput" onkeyup="myfunction()" placeholder="Search...">
    <br>
    <table id="myTable">
        <thead>
            <tr>
                <th>inventory Name</th>
            </tr>
        </thead>
        <tbody>
            <%
                if(doc.length>0){
                for(var x of doc){%>
            <tr>
                <td><a href="/detail?_id=<%=x._id%>"><%= x.name%></a></td>
            </tr>
            <%}%>
            </tbody>
        </table>
        <%}else{%>
            <p></p>
            <% } %>

            <script>
                $(document).ready(function () {
                    $("#myInput").on("keyup", function () {
                        var value = $(this).val().toLowerCase();
                        $("#myTable tr").filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                        });
                    });
                });
            </script>
</body>

</html>